//         Style the elements created in the </head> tab
// ---------------------------------------------------------------------

// Position the logo
a#logo-link {
    position: absolute;
    top: 10px;
}
// Size the logo image
img.logo-really-big {
    max-height: #{$logo_height}px !important;
}


//         Style the header according to scroll position
// ---------------------------------------------------------------------

// Keep the header in place and make it transparent
.d-header-wrap {
    position: relative;
    header.d-header.clearfix {
        display: block;
        position: absolute;
        background: none;
        box-shadow: none;
    }
}

// Hide the default logos and get rid of default height
.d-header {
    .logo-small, .logo-big, .title a { 
        visibility: hidden;
    }
    #site-logo {
        height: #{$logo_height}px;
    }
}

// Adjust width to prevent overflow
.d-header>.wrap {
    width: unset;
}

// This class is added dynamically with jQuery in the </head> tab
.scrolled-down {
    #main {
        margin-top: -60px;
    }
    // Return to default header styling
    .d-header-wrap,
    header.d-header.clearfix {
        position: sticky !important;
        background-color: var(--header_background);
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    }
    // Show the default logo
    .d-header {
        .logo-small, .logo-big, .title a {
            visibility: visible !important;
        }
        #site-logo {
            height: 2.57em;
        }
        #logo-container.wrap {
            height: unset;
        }
    }
    // Hide the large logo
    img.logo-really-big {
        display: none;   
    }
}


//       Adjust other elements to accommodate the custom header
// ---------------------------------------------------------------------

// Prevent the logo from appearing above the reply area when expanded
#reply-control {
    z-index: 1002;
}
// Add adjusted padding to the main-outlet 
#main-outlet {
    padding-top: calc(#{$logo_height}px + 30px);
}
